body {
	font-family: 'Open Sans'
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 72px;
}

.buttonNewGame {
	display: block;
	float: right;
}

.moves,
.stats {
	display: block;
	float: left;
	width: 30%;
}
.scoreTitle {
	color: #ADADAD;
}
.scoreNumber{
}
.highScore {
	color: #888;
}


#game {
	margin-top: 50px;
}

/* Svg styles */
.letterGroup {
	cursor: pointer;
}
.disabled {
	opacity: 0.4;
	cursor: default;
}
.selected {
	stroke: #555;
	stroke-width: 5px;
}
.letterGroup text {
	font-family: 'Roboto Slab', serif;
}
.letterGroup text::selection {
    background: transparent;
}

.letterGroup text::-moz-selection {
    background: transparent;
}

.letterGroup text::-webkit-selection {
    background: transparent;
}
