body {
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
}

.score {
	display: block;
	float: left;
	width: 300px;
}
.scoreTitle {
}
.scoreNumber{
}

#game {
	margin-top: 50px;
}

/* Svg styles */
.letterGroup {
	cursor: pointer;
}
.selected {
	stroke: #555;
	stroke-width: 5px;
}
.letterGroup text::selection {
    background: transparent;
}

.letterGroup text::-moz-selection {
    background: transparent;
}

.letterGroup text::-webkit-selection {
    background: transparent;
}
