body {
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
}

.score {
	display: block;
	float: left;
	width: 300px;
}
.scoreTitle {
}
.scoreNumber{
}

/* Svg styles */
.selected {
	stroke: #000;
	stroke-width: 2px;
}
